body{
  padding-top: 20px;
  padding-left: 500px;
}
.rectangle{
  
  
  width: 400px;
  height: 80px;
  
}
h4{
  color: white;
  text-align: center;
  margin-top: -70px;
  
}
.rect{
  
  background-color: lightgrey;
  height:300px;
  width: 400px;
  margin-top: 70px;
}

  .rect-2{
    background-color: darkred;
    width: 250px;
    height: 25px;
    margin-left: 75px;
    margin-top: -15px;
  }
  .rect-3{
    background-image: url(Untitled5_20251214215233.jpg);
  }
  
  

p{
 text-align: center;
 
}
h6{
  
  height: 30px;
  text-align: center;
  margin-top: -20px;
}

button{
  color: white;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  margin-left: 30px;
  margin-top: 30px;
  justify-content: center;
  background-color: darkblue;
  
}
button:hover{
  opacity: 0.5;
}
img{
  margin-left: 175px;
  margin-top: 50px;
}